<mat-nav-list fxLayout="column" fxLayoutAlign="space-between">
  <div>
    <mat-list-item *ngFor="let menu of filteredMenu">
      <a [routerLink]="menu.url">
        <button mat-icon-button>
          <mat-icon [svgIcon]="menu.icon"></mat-icon>
          <span *ngIf="expanded">{{ menu.title }}</span>
        </button>
      </a>
    </mat-list-item>
  </div>
  <div>
    <mat-list-item class="menu">
      <div>
        <button mat-icon-button (click)="toggleExpanded()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </div>
</mat-nav-list>
